*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(189, 107, 114); 
    z-index: 1000; 
}

.navbar-nav .nav-link {
    color: white;
}

body {
    margin-top: 56px;
    background-color: aqua; 
}

.clickable-image {
    cursor: pointer;
}

footer {    
    
    background-color: rgb(231, 182, 166);
}

.img-fluid{
    width: 250px;
    height: 200px;
}