body{
    background-color: blue;
    color: blue;
    font-family: 'Jost', sans-serif;
}

.clickable-image {
    cursor: pointer;
}

footer {    
    
    background-color: aliceblue;
}

.img-fluid{
    width: 250px;
    height: 200px;
}